version: "3.9"
services:
  dev:
    container_name: '${PROJECT}-dev'
    hostname: '${PROJECT}-dev'
    image: 'avtoolbox/${PROJECT}:dev'
    build:
      context: ${ROOT}
      dockerfile: ${DEV.DOCKERFILE}
      network: host
      args:
        SCRIPTS: ${SCRIPTS}
        PROJECT: ${PROJECT}
        ROSDISTRO: ${ROSDISTRO} 
        WORKSPACE: ${WORKSPACE}
        DEPENDENCIES: ${APT-DEPENDENCIES}
        REQUIREMENTS: ${PIP-REQUIREMENTS}
        USERNAME: ${USERNAME}
    volumes:
      - ${ROOT}:/home/${USERNAME}/${PROJECT}
    environment:
      - DISPLAY=vnc:0.0
    tty: true
    networks:
      - ${PROJECT}
  vnc:
    container_name: '${PROJECT}-vnc'
    hostname: '${PROJECT}-vnc'
    image: "avtoolbox/${PROJECT}:vnc"
    build:
      context: ${ROOT}
      dockerfile: ${VNC.DOCKERFILE}
      network: host
      args:
        VNC_PASSWORD: ${VNC_PASSWORD}
    environment:
      - RUN_XTERM=no
      - RUN_FLUXBOX=no
    ports:
      - "${NOVNC_PORT}:8080"
      - "${VNC_PORT}:5900"
    networks:
      - ${PROJECT}
networks:
  ${PROJECT}:
